<!DOCTYPE html>
<html>
    <head>

        <meta charset='utf-8'>

        <title>Chattanooga Library</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
        <link rel='stylesheet' href='css/styles.css'>
    </head>
    <body>
        <div class='container'>

            <div class='page-header'>
                <h1>Chattanooga<small>Library</small></h1>
            </div>
            {% if books is not empty %}
            <p>Here are the books in the library.</p>
                {% for book in books %}
                <a href='/books/{{ book.getId }}'>
            <ul>
                <p>{{ book.getTitle }}</p>
                <p>{{ book.getGenre }}</p>
            </ul>
                </a>
                {% endfor %}
            {% endif %}
            <p><a href="/books"><button type='submit' method='post'>Add a book</button>



            <div class='page-footer'>

            </div>
        </div><!-- END DIV CONTAINER -->
    </body>
</html>
