<!DOCTYPE html>
<html>
    <head>

        <meta charset='utf-8'>

        <title>Add A Book: Chattanooga Library</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
        <link rel='stylesheet' href='css/styles.css'>
    </head>
    <body>
        <div class='container'>

            <div class='page-header'>
                <h1>Chattanooga<small>Library</small></h1>
            </div>
    <ul>
        <h5><li>{{ books.getTitle }}</li></h5>
        <h6><p>{{ books.getGenre }}</p></h6>
        <p>Written By: {{ authors.getName }}</p>
    </ul>


           <div class='page-footer'>
                    </div>
    </div><!-- END DIV CONTAINER -->
    </body>
</html>
